<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace></robotNamespace>
      <robotSimType>cob_gazebo_ros_control/HWISwitchRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo reference="robotiq_85_right_finger_tip_link">
      <sensor name="main_bumper" type="contact">
          <geom>robotiq_85_right_finger_tip_link_geom</geom>
          <selfCollide>true</selfCollide>
          <alwaysOn>true</alwaysOn>
          <updateRate>20.0</updateRate>
          <material>Gazebo/Red</material>
          <contact>
            <collision>robotiq_85_right_finger_tip_link_collision</collision>
          </contact>
          <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">   
              <bumperTopicName>right_finger_bumper_vals</bumperTopicName>
              <frameName>robotiq_85_right_finger_tip_link</frameName>
          </plugin>
      </sensor>
  </gazebo>

  <gazebo reference="robotiq_85_left_finger_tip_link">
      <sensor name="main_bumper" type="contact">
          <geom>robotiq_85_left_finger_tip_link_geom</geom>
          <selfCollide>true</selfCollide>
          <alwaysOn>true</alwaysOn>
          <updateRate>20.0</updateRate>
          <material>Gazebo/Red</material>
          <contact>
            <collision>robotiq_85_left_finger_tip_link_collision</collision>
          </contact>
          <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">   
              <bumperTopicName>left_finger_bumper_vals</bumperTopicName>
              <frameName>robotiq_85_left_finger_tip_link</frameName>
          </plugin>
      </sensor>
  </gazebo>
</robot>
